*{
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    font-family: "Open Sans";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#programmer-page-background{
    z-index: -100;
    position: fixed;
    top:-8vw;
    left:0;
    width: 100vw;
}

#home{
    transform: rotate(90deg);
    width: 80px;
    padding: 20px 20px 20px 20px;
    z-index: 100;
    position: fixed;
    top: 20px;
    left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    transition: 0.3s ease-in-out;
}
#home:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-width: 3px;

}

#header{
    width: 20vw;
    padding: 20px 15px 20px 15px;
    background-color: rgba(0, 0, 0, 0.151);
    position: absolute;
    left: 20%;
    top: 40vh;
}

#header + a img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: calc(100vh - 110px);
    filter: invert(0.5);
    left: calc(50vw - 100px);
    transition: 0.3s ease-in-out;
}
#header + a img:hover{
    filter: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgb(58, 58, 58);
    border-style: solid;
    border-width: 3px;
}

#about-me{
    color: #f8f9fe;
    width: 100vw;
    height: 450px;
    background-color: #334A59;
    position: absolute;
    top: 100vh;
    left: 0;
    padding: 50px calc(50vw - 400px) 50px calc(50vw - 400px);
}
#about-me h{
    font-size: 20pt;
}
